body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  min-height: 100vh;
}

h2, h3 {
  color: black;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.info {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.preview {
  border: 1px solid black;
  max-width: 400px;
  min-height: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.preview-header {
  text-align: center;
}

.preview div {
  margin-top: 8px;
  margin-bottom: 8px;
}

.preview h3 {
  border-bottom: 2px solid black;
  margin-left: 8px;
}

.preview p {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.preview-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 4px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.header {
  background-color: #4285f4;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer img {
  width: 20px;
  height: 20px;
}